.categories-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-item {
  width: 20%; /* عرض كل عنصر */
  margin: 0 1.5%; /* هامش بين العناصر */
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  background-color: rgba(148, 209, 245, 0.9);
  color: black;
  margin-bottom: 10px;
}

.category-item:hover {
  transform: scale(1.05);
}

.category-name {
  font-size: 1.2rem;
  font-weight: bold;
}

.category-description {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .category-item {
    width: 70%; /* عرض العنصر على الهاتف */
    margin: 10% auto; /* توسيط العنصر وإضافة هامش */
  }
}
